@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

*,
*::before,
*::after {
  @apply box-border m-0;
}

body {
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  @apply text-sm 2xl:text-lg font-normal text-gray-800;
}

thead tr {
  @apply bg-white;
}

tbody tr {
  @apply odd:bg-white even:bg-gray-50 hover:bg-gray-100 transition-colors;
}

th {
  @apply px-6 py-3 text-nowrap font-medium 2xl:font-semibold bg-gray-100 border-b border-gray-300;
}

td {
  @apply px-6 py-4 text-center;
}
